/* stylelint-disable no-descending-specificity */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto:wght@400;700&family=Square+Peg&display=swap');

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.916);
  color: azure;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 2rem;
}

.form {
  margin: 1rem 40%;
}

.form h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
}

.actions input {
  width: 100%;
  height: 2rem;
  background-color: green;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 2px;
}

.form label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form a {
  color: #fff;
}

.field input {
  width: 100%;
  border: 0.7px solid #ccc;
  margin-bottom: 15px;
  padding: 10px 0;
}

.flash {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}

.flash .success {
  color: aquamarine;
}

.flash .error {
  color: crimson;
}

header {
  position: relative;
  height: 25vh;
  width: 100%;
  background-image: linear-gradient(rgba(235, 1, 165, 0.8), rgba(209, 53, 49, 0.4)), url('https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.916);
}

.navbar-link {
  color: #fff;
  font-weight: 900;
}

header nav {
  text-align: center;
  padding: 1rem;
}

header a {
  color: azure;
  text-decoration: none;
}

header h1 {
  color: azure;
  font-size: 1.5rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border: 2px solid azure;
}

footer {
  padding: 2vh;
  margin-top: 5rem;
  text-align: center;
  color: azure;
  background-color: black;
}

.food-header {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

.create-food {
  margin: 20px 0;
}

.create-food a {
  text-decoration: none;
  background-color: green;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* Table Styles */

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #c0bdbd;
  font-size: 12px;
}

.fl-table thead th {
  color: #fff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #fff;
  background: #4b4c4e;
}

.fl-table tr:nth-child(even) {
  color: #111;
  background: #e1e1e1;
}

.fl-table tr:nth-child(odd) {
  color: #111;
}

.btn-delete {
  color: #fff;
  background-color: rgb(195, 14, 14);
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.food-delete:hover {
  text-decoration: underline;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }

  .table-wrapper::before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }

  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }

  .fl-table thead th:last-child {
    border-bottom: none;
  }

  .fl-table thead {
    float: left;
  }

  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }

  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }

  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }

  .fl-table tbody tr {
    display: table-cell;
  }

  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }

  .fl-table tr:nth-child(even) {
    background: transparent;
  }

  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }

  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }

  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}
